/* Contact Us Content Settings (General text & spacing Settings) */

	div#content div#contact h2
	{
		margin-top: 50px;
	}

	div#content div#contact h4
	{
		text-decoration: underline;
	}

	div#content div#contact ul
	{
		list-style: none;
	}